.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}
.title-main {
  width: 600px;
}
.title {
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 25px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(189, 186, 186, 0.1);
  background-color: #f0eded;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-group2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

input,
select {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 15px;
  box-sizing: border-box;
}
.input-box {
  width: 30%;
}
.radio-group {
  display: flex;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #9baf9c;
}
.register-container {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

.small-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.input-error {
  border: 1px solid red;
}
